
<div id="welcome">
	<div class="sixteen columns col-md-12">
		<div class="welcome">
			<p> Aviso de Privacidad </p>
			</div>
		</div>
</div>



<p>De Cero A Tres Fundación A.C. (“D0A3”) con domicilio en Santa Rita 213, Loma del Padre, Cuajimalpa, México D.F. 05020, es responsable de recabar sus datos personales, del uso que da a los mismos y de su protección.
<br><br>
Sus datos personales serán utilizados para (i) realizar su donativo a esta Institución, (ii) informarle sobre asuntos relacionados a D0A3 y (iii) conocer su opinión acerca de la calidad de la atención que recibe como donante. Sus datos serán resguardados y mantenidos como CONFIDENCIALES.
<br><br>
Los Datos de su Tarjeta de Crédito (Numero de Tarjeta, CVT, Mes y Año de Expiración) no serán guardados, únicamente utilizados para realizar la transacción.
<br><br>
La finalidad señalada en el inciso (i) del párrafo inmediato anterior es necesaria para que exista una relación jurídica de donación entre usted y D0A3 y las finalidades señaladas en los incisos (ii) y (iii) son accesorias a dicha finalidad, pero no son necesarias para que se lleve a cabo la donación.
<br><br>
Para las finalidades antes mencionadas, requerimos los siguientes datos: monto de su donativo, nombre completo, teléfono y celular, dirección postal, correo electrónico, información bancaria y datos fiscales.
<br><br>
En el caso de que D0A3 necesitara utilizar sus datos personales con una finalidad distinta a las aquí mencionadas, la Fundación solicitará su aprobación.
<br><br>
En caso de requerir datos personales sensibles, D0A3 se los solicitará previamente al titular de dichos datos personales sensibles, con el fin de (i) obtener su consentimiento por escrito y; (ii) notificarle la finalidad para la cual están siendo recabados, según la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (“Ley de Datos Personales”).
<br><br>
Usted tiene derecho a acceder, rectificar y cancelar sus datos personales, así como de oponerse al tratamiento de los mismos o revocar el consentimiento que para tal fin nos haya otorgado, enviando la solicitud que corresponda a la siguiente dirección de correo electrónico: contacto@deceroatres.org o mediante escrito dirigido a Beatriz Diaz Torre responsable de custodiar los datos personales dentro del Área de Recaudación Nacional.
<br><br>
Tal como lo señala la Ley de Datos Personales, D0A3 está obligada a solicitar su consentimiento cuando necesite transferir sus datos personales y usted está en su derecho de aceptar o declinar. En el caso de que la Fundación no reciba una respuesta se dará por hecho que ha otorgado su consentimiento.</p>