
<div id="welcome">
	<div class="sixteen columns col-md-12">
		<div class="welcome">
			<p> ¡El apoyo de personas como tú, nos permite ayudar a niñas y niños en México.! </p>
			</div>
		</div>
</div>

<div class="row">
		<center><%= link_to "Quiero Donar Ahora", payments_new_path, class: "btn btn-info btn-lg" %></center>
</div>

<img src="/assets/portada_4.jpg" alt="De Cero A Tres Fundación A.C." class="portadas">


