<div class="container content">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 reg-page">
			
				<div id="welcome">
					<div class="sixteen columns col-md-7">
						<div class="welcome">
							<span class="color">GRACIAS POR TU DONACIÓN</span>
							<p>
							¡El apoyo de personas
							<span class="color">
							como tú
							</span>, nos permite ayudar a niñas y niños en México.! </p>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>