<center>
    
  		<p>Página desarrollada por:<a href="http://codealab.mx/" target="_blank"><img src="/assets/codealab.png" alt="xodealab.mx" style="width: 100px; position: relative; left: 10px; top: -1px; "></a>
  		</p>
	  
</center>
