<header>
  <div class="container clearfix">

    <div class="one-third column">
      <div class="logo">
        <a href="http://deceroatres.org">
          <img src="/assets/143x59_logo-01-01.png" alt="De Cero A Tres Fundación A.C.">
        </a>
      </div>
    </div><!-- End Logo -->

    <div class="two-thirds column">
      <nav id="menu" class="navigation">
        <ul id="nav" class="menu">
          <li  class="menu-item">
            <%= link_to "Quiero Donar", home_index_path %><span class="downarrowclass"></span>
          </li>
          <li  class="menu-item">
            <%= link_to "Aviso de Privacidad", aviso_privacidad_path %><span class="downarrowclass"></span>
          </li>
          <li  class="menu-item">
            <a href="http://deceroatres.org">Regresar a De Cero A Tres<span class="downarrowclass"></span></a>
          </li>
        </ul><!-- End nav -->			      
      </nav>
    </div><!-- End Menu -->

    <div class="sixteen columns"><hr></div>

  </div><!-- End Container -->
</header>